<?xml version="1.0"?>
<model>
  <name>building</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  
  <author>
    <name>Richard Hamilton</name>
    <email>user@example.com</email>
  </author>
  
  <description>
    Multi floor building model for multi-floor robot navigation simulation.
    Features hallway for lobby and 3 residential floors and gaps for elevator.
  </description>
  
  <depend>
    <model>
      <uri>model://ground_plane</uri>
    </model>
  </depend>
</model>